$color_menu: #0000EC;
$turquesa: #00F3BB;
$blanco: #ffffff;
$gradiente_boton1: #00F0B8;
$gradiente_boton2: #0000FE;
$gradiente_poly1: #0000A3;
$gradiente_poly2: #0000FF;
$texto_desktop: #060A24;
$color_texto_activo: rgba(6,10,36,0.56);
$ancho_max_desktop: 850px;
